
.main-content {
  width: 100%;
  max-width: 1440px;
  height: 872px;
  margin: 0 auto;
  background-color: var(--color-bg-secondary);
  position: relative;
  padding: 0 60px;
  box-sizing: border-box;
  text-align: left;
}

